@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list-texts/intro__list-texts.css);
@import url(./__list-text/intro__list-text.css);
@import url(./__numbers/intro__numbers.css);
.intro{
  max-width: 720px;
  width: 690px;
  padding: 89px 437px 0 153px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
  .intro{
    padding: 92px 286px 0 48px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .intro{
    padding: 88px 24px 0 24px;
    width: 720px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px){
  .intro{
    width: 288px;
    padding: 64px 16px 0 16px;
  }
}